:root {
    --button-linear-light: 45deg, rgba(221, 184, 255), rgba(214, 239, 255);
    --button-outline-light: 2px solid #B8C0FF;
    --button-highlight-light: #8229E0;
    --black: black;
    --white: white;
    --light-gray: #B3B3B3;

    /* Text styles */
    --open-sans-text: 'Open Sans', sans-serif;
    --open-sans-weight: 500; 
    --open-sans-size: 1.7rem;

    --roboto-slab-text: 'Roboto Slab', serif;
    --roboto-slab-weight: 600; 
    --roboto-slab-size: 3rem;

    --font-regular: 16px;
  }

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 150;
}

button {
  cursor: pointer;
}

a {
  color: #88DBFC;
}

