.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 9rem;
  min-height: 20vh;
  font-family: "Roboto Slab";
}

.title {
  font-size: 250%;
}

.logo {
  margin-bottom: 2rem;
}

.author {
  font-size: 20px;
  color: var(--button-highlight-light);
  font-weight: 600;
  text-align: center;
}

.left {
  margin-right: 3rem;
}

.bio {
  width: 35vw;
  line-height: 150%;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}


